body{
    
    margin: 0;
   
}header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);

     border: #ffff 2px solid;
    

}header nav{

    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 800px;
    height: 50px;
    margin-right: 190px;
    padding: 0 40px;
    
    border: #ffff 2px solid;

}header nav a{
    
    margin:10px 30px;

    border: #ffff 2px solid;
    
}.img{
    text-decoration: none;
    color: bisque;
}

#logo{
    display: flex;
    margin:10px 20px;
    margin-bottom:30px;
    margin-left: 100px;
    height:50px;
    width: 100px;
    justify-content: center;
    align-items: center;

    border: #ffff 2px solid;

}header #logo a{
  
    margin:10px 30px;
    height:20px;


    border: #ffffff 2px solid;
}   
#LoginLogo{
    text-decoration: none;
    color: azure;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d6d2e0;
    min-height: 900px;
    width: 100%;
}
.postPagebackground{

    border: #0f0505 2px solid;
    width: 900px;
    height: 900px;
    background-color: #da0f20;
}

.postPage{
    border: #ff000d 2px solid;
    height: 600px;
    width: 600px;
    background-color: #322222;
    margin: 0;

}.creatortab{

    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 75px;
    width: 100%;

    border: #da0f20 2px solid;
  

    
}.creatorProfileIcon{
 
   
    width:auto;
    height: auto;

    border: #b64a6a 2px solid;


}.creatorProfileIcon img{
    

    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    

    border: #ffff 2px solid;


}.creatorNameIcon{
    height: auto;
    width: auto;
    color: #ffff;
    text-decoration: none;

    border: #b64a6a 2px solid;

}.tabRightSide{

    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;

    border: #1f0a54 2px solid;
    
    
}.tabLeftSide{
    display: flex;
    height: 20px;
    width: 50px;
    margin-bottom: 35px;
    padding: 10px;

    border: #7e9e88 2px solid;
   
}#tabLeftSide button:hover{
    color: #ff4d4d;

}.btn{
    width: 20px;
    margin:0 5px;
   
}.MainPost{
    background-color: #fffdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 600px;
    height: 520px;
    color: rgb(0, 0, 0);

}
